body {
  background-image: linear-gradient(
    rgba(25, 174, 234, 0.48),
    rgba(64, 190, 240, 0.808)
  );
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  display: flex;
}

#container {
  width: 62%;
  height: 750px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#playBoard,
#statusBoard {
  border-radius: 10px;
  box-shadow: -2px 0px 10px 6px #2113136b;
}

#playBoard {
  width: 96%;
  height: 96%;
  margin: 2%;
  display: flex;
  background-image: linear-gradient(rgb(225, 236, 161), rgb(196, 212, 100));
}

#statusBoard {
  width: 38%;
  height: 731px;
  text-align: center;
  margin: 1.2%;
  margin-bottom: 0;
  background-image: linear-gradient(rgb(249, 196, 105), rgb(246, 217, 167));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: scroll;
}

#placeholder {
  height: 100%;
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#feedback {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  margin: 1%;
  text-shadow: 2px -1px 8px rgba(26, 26, 236, 0.671);
  font-size: 50px;
  text-transform: capitalize;
  color: rgb(248, 27, 27);
}

.rows {
  width: 90%;
  height: 7%;
  display: flex;
  justify-content: space-around;
}

.code-row {
  border-radius: 10px;
  background: rgb(215, 250, 17);
  box-shadow: -2px 0px 10px 6px #2113136b;
}

.hole {
  margin: 1%;
  background: white;
  width: 8.5%;
  box-shadow: inset 1px 1px 2px black;
}

.hole:hover {
  cursor: pointer;
}

.result {
  width: 90%;
  height: 7%;
  display: flex;
  justify-content: space-evenly;
}

.hole,
.result-place {
  border-radius: 50%;
  height: 80%;
}

.inactive {
  opacity: 0.8;
  pointer-events: none;
}

.result-place {
  margin: 2%;
  background: grey;
  width: 13%;
  box-shadow: 1px 1px 5px black;
}

#contact,
#source-place {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: -2px 0px 10px 6px #2113136b;
}

#contact {
  height: 70px;
  width: 96%;
  margin-left: 2%;
  background-image: linear-gradient(rgb(225, 236, 161), rgb(196, 212, 100));
}

#source-place {
  height: 50px;
  width: 80%;
  margin-top: 7px;
  margin-left: 1%;
  background-image: linear-gradient(rgb(249, 196, 105), rgb(246, 217, 167));
  flex-wrap: wrap;
}

#check {
  margin-top: 2.5%;
}

.shadow {
  box-shadow: 1px 1px 5px black;
}

.source {
  margin: 1%;
  height: 70%;
  width: 5.5%;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
}

.source:hover {
  cursor: pointer;
}

#instruction,
#quiteWindow {
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  background-image: linear-gradient(rgb(225, 236, 161), rgb(196, 212, 100));
  text-align: justify;
  text-justify: inter-word;
  box-shadow: -2px 0px 10px 6px #2113136b;
  overflow: scroll;
}

#instruction {
  height: 40%;
  margin-top: 0;
  margin-bottom: 0;
}

#quiteWindow {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 16%;
  margin-top: 0;
  margin-bottom: 0;
}

#quiteWindow > button {
  width: 110px;
  margin: 10px auto;
}

p {
  margin-left: 4%;
  margin-right: 4%;
}

span {
  font-size: 20px;
  text-shadow: 2px 0px 2px black;
}

button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  background-image: linear-gradient(
    rgba(4, 144, 199, 0.582),
    rgba(5, 78, 107, 0.808)
  );
  color: white;
  font-size: 20px;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    rgba(2, 164, 228, 0.48),
    rgba(8, 159, 219, 0.808)
  );
}

.hide {
  pointer-events: none;
  visibility: hidden;
}
